# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.venv/
ENV/

# Database files
*.db
*.sqlite3

# Operating System files
.DS_Store
Thumbs.db
Desktop.ini

# IDE files
.vscode/
.idea/
